.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  height: 80vh;
  overflow: hidden;
}

.counter {
  font-size: 56px;
}

.name {
  font-size: 20px;
}

.btn__cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.prev {
  background-color: red;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
}

.next {
  background-color: green;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
}

.btn {
  padding: 15px 40px;
  color: white;
  border-radius: 45px;
  background: gray;
}

.modal__cnt {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__modal {
  position: absolute;
  height: 300px;
  width: 400px;
}

.close {
  position: absolute;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


